::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #000 !important;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #000 !important;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #000 !important;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #000 !important;
}

.authPage {
  // background: #0b0b0b;
  // height: 100vh;
  width: 100%;
  min-height: 650px;
  position: relative;
  background-image: url('../images/mapBg.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  .autoForm {
    max-width: 450px;
    margin: auto;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
    width: 100%;
    padding: 30px;
    border-radius: 15px;
    background-color: #f6f6f6;

    h1 {
      color: #000;
      // background: linear-gradient(to right, #FFFFFF 0%, #CF23C4 100%);
      // -webkit-background-clip: text;
      // -webkit-text-fill-color: transparent;
      font-family: 'Rajdhani-SemiBold';
      font-size: 52px;
    }

    label.form-label,
    label.form-check-label {
      color: #000;
    }

    .icon_input {
      input.form-control {
        background-image: url('../images/userBlack.png');
        background-repeat: no-repeat;
        background-position: 5px center;
      }
    }

    .icon_input_email {
      input.form-control {
        background-image: url('../images/emailBlack.png');
        background-repeat: no-repeat;
        background-position: 5px center;
      }
    }

    .icon_input_password {
      input.form-control {
        background-image: url('../images/reset-passwordBlack.png');
        background-repeat: no-repeat;
        background-position: 5px center;
      }
    }

    input.form-control {
      background-color: transparent;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid #000;
      border-radius: 0px;
      color: #000;
      height: 55px;
      padding-left: 50px;

      &:focus {
        box-shadow: none;
        border-bottom: 1px solid transparent;
        border-image: linear-gradient(0.25turn, rgba(255, 249, 34), rgba(255, 0, 128), rgba(56, 2, 155, 0));
        border-image-slice: 1;
        width: 100%;
      }
    }

    button.btn.btn-primary.loginBtn {
      background: #e63a47;
      border: 1px solid #e63a47;
      padding: 10px 35px;
      letter-spacing: 2px;
      font-weight: 600;
    }

    .form-check-input[type=checkbox] {
      border: 1px solid #333;
    }
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .authPage {
    height: 550px;
  }
}

@media only screen and (max-width:480px) {
  .authPage {
    .autoForm {
      max-width: 90%;
    }
  }
}