.pageWrapper .dashboardContent {
  padding: 50px 0;
}
.pageWrapper .dashboardContent h2.title {
  font-size: 42px;
  font-weight: 700;
  font-family: "Rajdhani-SemiBold";
}
.pageWrapper .dashboardContent .profileContent {
  max-width: 100%;
  width: 100%;
  padding: 40px;
}
.pageWrapper .dashboardContent .profileContent .profileFullImg img {
  width: 100%;
  border-radius: 100%;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12);
}
.pageWrapper .dashboardContent .profileContent .profileFullImg button.editBtn {
  border: none;
  position: absolute;
  right: 30px;
  top: 5px;
  width: 30px;
  height: 30px;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12);
  padding: 5px;
  border-radius: 100%;
}
.pageWrapper .dashboardContent .profileContent .profileFullImg button.editBtn .form-control[type=file] {
  opacity: 0;
  padding: 0;
  position: relative;
  bottom: 26px;
  height: 30px;
  width: 30px;
  left: -4px;
}
.pageWrapper .dashboardContent .profileContent .userInfo h2 {
  font-size: 32px;
  font-weight: 700;
  font-family: "Rajdhani-SemiBold";
}
.pageWrapper .dashboardContent .profileContent .userInfo p {
  font-size: 18px;
  font-family: "Urbanist-Medium";
  color: #b7b7b7;
}
.pageWrapper .dashboardContent .profileContent .userInfo p strong {
  color: rgba(0, 0, 0, 0.5);
}
.pageWrapper .dashboardContent .profileContent .userInfo .fileUpload {
  min-height: 75px;
  border: 2px dashed #ddd;
  border-radius: 10px;
  position: relative;
  background-color: #fcfcfc;
}
.pageWrapper .dashboardContent .profileContent .userInfo .fileUpload input#formFile {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.pageWrapper .dashboardContent .profileContent .userInfo .fileUpload span {
  padding: 21px 10px;
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #c9c9c9;
  font-size: 18px;
  letter-spacing: 0.5px;
  font-family: "Urbanist-Regular";
}
.pageWrapper .dashboardContent .profileContent button.editBtn {
  border: none;
  background: transparent;
  position: absolute;
  right: 20px;
  top: 50px;
}
.pageWrapper .dashboardContent .detailInfo h2 {
  font-size: 30px;
  font-weight: 700;
  font-family: "Rajdhani-SemiBold";
}
.pageWrapper .dashboardContent .detailInfo input#staticEmail, .pageWrapper .dashboardContent .detailInfo input.form-control {
  border: 1px solid #dee2e6;
  padding: 0.375rem 0.75rem;
  border-radius: 0.375rem;
  height: 50px;
}
.pageWrapper .dashboardContent .detailInfo label.col-form-label {
  font-family: "Urbanist-Medium";
}
.pageWrapper .dashboardContent .detailInfo input.form-control.saveBtn {
  border-radius: 10px;
  border: 1px solid #e63a47;
  padding: 10px 30px !important;
  font-size: 18px;
  font-family: "Urbanist-Medium";
  margin: 0;
  background-color: #e63a47;
  color: #fff;
  width: auto;
}

@media only screen and (max-width: 1350px) {
  .pageWrapper .dashboardContent .profileContent .userInfo .fileUpload span {
    font-size: 16px;
  }
}
@media only screen and (max-width: 1280px) {
  .pageWrapper .dashboardContent .profileContent .userInfo p {
    font-size: 18px;
  }
}
@media only screen and (max-width: 1199px) {
  .pageWrapper .dashboardContent .profileContent .userInfo h2 {
    font-size: 42px;
    margin-top: 15px;
  }
}
@media only screen and (max-width: 991px) {
  .pageWrapper .dashboardContent .profileContent {
    padding: 20px;
  }
  .pageWrapper .dashboardContent .profileContent .userInfo h2 {
    font-size: 24px;
  }
  .pageWrapper .dashboardContent .profileContent .userInfo p {
    font-size: 14px;
  }
}
@media only screen and (max-width: 767px) {
  .pageWrapper .dashboardContent {
    padding: 30px 0;
  }
  .pageWrapper .dashboardContent h2.title {
    font-size: 36px;
  }
}/*# sourceMappingURL=dashboard.css.map */